/* .bordered {
  padding: 6px;
  width: 35px;
  border: 5px solid rgb(38, 9, 170);
  display: inline-block;
  text-align: center;
} */
* {
  box-sizing: border-box;
  outline: none;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
/* .formulaire .button {
  width: 10px;
  padding: 12px;
  min-height: 450px;
}
.formulaire {
  border: 1px solid transparent;
  width: 25%;
  margin: 60px auto;
}
#compteur {
  width: auto;
  margin-left: 340px;
  margin-top: 5px;
  color: green;
} */
.d_none {
  width: 80%;
  margin: 15px auto;
  display: none;
}
.d_none img {
  width: 300px;
  border: 2px solid black;
}
#openImage {
  width: 10%;
  display: flex;
  margin-left: 240px;
  border: 2px solid black;
}
button {
  justify-content: center;
}

.fond_gris {
  background-color: rgb(234, 233, 233);
  width: 80%;
  height: 550px;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.user_1,
.user_2 {
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 25px;
}
textarea {
  width: 45%;
  height: 200px;
  margin: 0 auto;
}
input {
  width: 45%;
  margin: 0 auto;
}
p,
h1 {
  width: auto;
  margin-left: 211px;
}
